<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="sidebar">
    <link th:href="@{/assets/css/sidebar.css}" rel="stylesheet">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column" th:each="item:${session.sidebar}">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{${item.url}+'?language='+${session.language}}">
                        <i th:class="${item.iconComment}"  ></i> &nbsp;
                        [[${item.name}]] <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>