<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanyin.mapper.UserMapper">

    <select id="selectById"  parameterType="java.lang.Integer" resultType="com.nanyin.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultType="com.nanyin.entity.User">
        SELECT * FROM user WHERE name = #{name}
    </select>

    <select id="getRoles" parameterType="java.lang.String" resultType="java.lang.String">
     SELECT r.name FROM user u
     LEFT JOIN
      r_user_role ru ON u.id = ru.user_id
     LEFT JOIN
      role r ON r.id = ru.role_id
    </select>

    <select id="getPermission"  parameterType="java.lang.String" resultType="java.lang.String">
     SELECT a.name
     FROM user u
     LEFT JOIN
     r_user_auth ru ON u.id = ru.user_id
     LEFT JOIN
     auth a ON a.id = ru.auth_id
    </select>

    <select id="displayUser" resultType="com.nanyin.entity.User">
        SELECT * FROM user
    </select>

    <!--parameterType 输入参数类型 resultType 输出参数类型 -->
    <!--<insert id="insertUser" parameterType="com.nanyin.entity.User">-->
        <!--INSERT INTO S_User-->
        <!--VALUES (#{User.id},#{User.name},#{User.password},#{User.salt},#{User.roleId},#{User.id},#{User.age},#{User.sex},#{User.create_time});-->
    <!--</insert>-->

    <update id="updateThisUser" parameterType="com.nanyin.entity.User">
        UPDATE user SET name = #{name}, password = #{password} , sex = #{sex} , age = #{age} WHERE id = #{id}
    </update>


    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache" >-->
        <!--<property name="timeToIdleSeconds" value="3600"/>-->
        <!--<property name="timeToLiveSeconds" value="3600"/>-->
        <!--<property name="maxEntriesLocalHeap" value="1000"/>-->
        <!--<property name="maxEntriesLocalDisk" value="10000000"/>-->
        <!--<property name="memoryStoreEvictionPolicy" value="LRU"/>-->
    <!--</cache>-->

</mapper>