<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanyin.mapper.UserVoMapper">
<select id="AllMessageDis"  resultType="com.nanyin.entity.user.vo.UserVo">
    SELECT u.id, u.name, u.password, u.salt, u.roleId
	      , u.age, u.sex, u.create_time, u.organizationId, r.`describe` AS "role_describe"
	      , o.name AS "organization_name"
    FROM  db_shiro.S_User u, db_shiro.S_organization o, db_shiro.S_role r
    WHERE u.roleId = r.role_id
	AND   u.organizationId = o.id
</select>

    <select id="selectMsgByName" parameterType="java.lang.String" resultType="com.nanyin.entity.user.vo.UserVo">
    SELECT u.id, u.name, u.password, u.salt, u.roleId
	      , u.age, u.sex, u.create_time, u.organizationId, r.`describe` AS "role_describe"
	      , o.name AS "organization_name"
    FROM  db_shiro.S_User u, db_shiro.S_organization o, db_shiro.S_role r
    WHERE u.roleId = r.role_id
	AND   u.organizationId = o.id
	AND   u.name LIKE concat(concat('%',#{u.name}),'%')
    </select>

    <select id="selectByName" parameterType="java.util.Map" resultType="com.nanyin.entity.user.vo.UserVo">
        SELECT u.id, u.name, u.password, u.salt, u.roleId
        , u.age, u.sex, u.create_time, u.organizationId, r.`describe` AS "role_describe"
        , o.name AS "organization_name"
        FROM  db_shiro.S_User u, db_shiro.S_organization o, db_shiro.S_role r
        WHERE u.roleId = r.role_id
        AND   u.organizationId = o.id
        <if test="name!=null and name!=''">
        AND   u.name LIKE concat(concat('%',#{name}),'%')
        </if>
        LIMIT #{a},#{b}
    </select>

    <delete id="delectParam" parameterType="java.util.List">
    DELETE FROM db_shiro.S_User
    WHERE id IN
    <foreach collection="list" item="id" open="(" close=")" separator=",">
         #{id.id}
    </foreach>
    </delete>

    <insert id="insertUserVo" parameterType="com.nanyin.entity.user.User">
        INSERT INTO db_shiro.S_User(name,password,salt,roleId,age,sex,create_time,organizationId)
        VALUES(#{name},#{password},#{salt},#{roleId},#{age},#{sex},#{create_time},#{organizationId})
    </insert>

    <update id="UpdateUserVo" parameterType="com.nanyin.entity.user.User">
        UPDATE db_shiro.S_User
        SET name=#{name},password=#{password},roleId=#{roleId},age=#{age},sex=#{sex},organizationId=#{organizationId}
        WHERE id=#{id}
    </update>



    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" >
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
</mapper>