<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nanyin.mapper.UserMapper">

    <select id="findUserById"  parameterType="java.lang.Integer" resultType="com.nanyin.entity.user.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <select id="findUserByName" parameterType="java.lang.String" resultType="com.nanyin.entity.user.User">
        SELECT * FROM user WHERE name = #{name}
    </select>




    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" >
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>

</mapper>