<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <!--services 配置-->
    <bean id="userServices" class="com.nanyin.services.impl.UserServiceImpl"/>
    <bean id="roleService" class="com.nanyin.services.impl.RoleServiceImpl"/>
    <bean id="unitService" class="com.nanyin.services.impl.UnitServiceImpl"/>
    <bean id="logService" class="com.nanyin.services.impl.LogServiceImpl"/>
    <bean id="organizationVoService" class="com.nanyin.services.impl.OrganizationVoServiceImpl"/>
    <bean id="calendarService" class="com.nanyin.services.impl.CalendarServiceImpl"/>
    <bean id="authService" class="com.nanyin.services.impl.AuthServiceImpl"/>
    <bean id="navBarService" class="com.nanyin.services.impl.NavBarServiceImpl"/>
    <bean id="iconService" class="com.nanyin.services.impl.IconServiceImpl"/>

</beans>