<!doctype html>
<html lang="en" dir="ltr"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Page 404 - tabler.github.io - a responsive, flat and full featured admin template</title>

    <script th:src="@{webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
    <!-- 使用webjars -->
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{webjars/bootstrap/4.3.1/js/bootstrap.js}" ></script>
    <link th:href="@{webjars/font-awesome/5.9.0/css/all.min-jsf.css}" rel="stylesheet">
    <script th:src="@{webjars/font-awesome/5.9.0/js/all.js}"></script>
    <link th:href="@{/assets/css/error.css}" rel="stylesheet">

</head>
<body style="text-align: center">
<div class="page" style="width: 100%;" >
    <div class="page-content">
        <div class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i>402</div>
            <h1 class="h2 mb-3">Oops.. You just found an error page..</h1>
            <p class="h4 text-muted font-weight-normal mb-7">We are sorry but our service is currently not available&hellip;</p>
            <a class="btn btn-primary" th:href="@{/index(language='zh-CN')}" >
                <i class="fe fe-arrow-left mr-2"></i>RETURN HOME PAGE &raquo;
            </a>
        </div>
    </div>
</div>
</body>
</html>