<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>social form</title>
</head>
<body>
    <div th:fragment="social-form">
        <script th:inline="javascript">
            $(document).ready(function () {
                var socialMedias = [[${result.data.user.person.socialMedia}]];
                for (var i=0;i<socialMedias.length;i++){
                    var url = socialMedias[i].url;
                    var socialType = socialMedias[i].socialType.name;
                    var ind = eval("\"#modify-\"+socialType");
                    $(ind).val(url);
                }
            })
        </script>
        <div>
             <!--循环所有的在 s_social_type 表里存在的社交方式全部展示出来。-->
            <div class="form-group" th:each="item:${result.data.socialType}">
                <label th:for="'modify-'+${item.name}" ><i th:class="${item.icon.className}"></i> [[${item.comment}]]</label>
                <div >
                    <input type="text" class="form-control" th:id="'modify-'+${item.name}" th:name="${item.name}" th:placeholder="${item.comment}"  />
                </div>
            </div>
        </div>
    </div>
</body>
</html>