<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>project</title>
    <script th:src="@{/webjars/jquery/3.4.1/jquery.slim.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}" ></script>
    <link th:href="@{/assets/css/project.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/5.9.0/css/all.min-jsf.css}" rel="stylesheet">
    <script th:src="@{/webjars/font-awesome/5.9.0/js/all.js}"></script>
</head>
<body>
<div th:insert="~{components/navbar :: navbar-01}"></div>

<div class="container-fluid">
    <div class="row">
        <div th:insert="~{components/sidebar :: sidebar}"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div th:insert="~{components/project/row-card :: proj-row-card}"></div>
            <div th:insert="~{components/project/nav :: proj-nav}"></div>
            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card card-aside">
                        <a href="#" class="card-aside-column" style="background-image: url(./assets/img/brand/bootstrap-social-logo.png)"></a>
                        <div class="card-body d-flex flex-column">
                            <h4><a href="#"> 这里是标题 </a></h4>
                            <div class="text-muted"> 这里是描述 </div>
                            <div class="progress">
                                <!-- 进度 -->
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex align-items-center pt-5 mt-auto">
                                <div class="avatar avatar-md mr-3" style="background-image: url(./assets/img/brand/bootstrap-social-logo.png)"></div>
                                <div>
                                    <a href="./profile.html" class="text-default">负责人</a>
                                    <small class="d-block text-muted">进行的天数</small>
                                </div>
                                <div class="ml-auto text-muted">
                                    <a href="javascript:void(0)" class="icon d-none d-md-inline-block ml-3"><i class="fe fe-heart mr-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
</body>
</html>