
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>

    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>

    <script th:src="@{/webjars/popper.js/1.15.0/umd/popper.js}"></script>
    <script th:src="@{/webjars/popper.js/1.15.0/umd/popper-utils.js}"></script>

    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>

    <link th:href="@{/webjars/font-awesome/5.9.0/css/all.min-jsf.css}" rel="stylesheet">
    <script th:src="@{/webjars/font-awesome/5.9.0/js/all.js}"></script>

    <link th:href="@{/webjars/bootstrap-table/1.15.2/dist/bootstrap-table.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap-table/1.15.2/dist/bootstrap-table.js}"></script>

    <link th:href="@{/webjars/bootstrap-sweetalert/1.0.1/dist/sweetalert.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap-sweetalert/1.0.1/dist/sweetalert.js}"></script>

    <script th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.js}"></script>
    <script th:src="@{/webjars/jquery-validation/1.19.0/localization/messages_zh.js}"></script>

    <link th:href="@{/webjars/select2/4.0.8/css/select2.css}" rel="stylesheet">
    <script th:src="@{/webjars/select2/4.0.8/js/select2.full.js}"></script>

    <link th:href="@{/webjars/ttskch__select2-bootstrap4-theme/1.2.3/dist/select2-bootstrap4.css}" rel="stylesheet">

    <script th:src="@{/assets/js/users.js}"></script>

    <script th:src="@{/assets/js/util/common.js}"></script>

    <script th:src="@{/assets/js/validate/user-validate.js}"></script>
</head>
<body>
<script th:if="${session.language}=='en-US'"
        th:src="@{/webjars/bootstrap-table/1.15.2/dist/locale/bootstrap-table-en-US.js}"></script>
<script th:if="${session.language}=='zh-CN'"
        th:src="@{/webjars/bootstrap-table/1.15.2/dist/locale/bootstrap-table-zh-CN.js}"></script>

<div th:insert="~{components/navbar :: navbar-01}"></div>
<input th:type="hidden" id="userId" />
<input th:type="hidden" id="auth1">
<div class="container-fluid">
    <div class="row">
        <div th:insert="~{components/sidebar :: sidebar}"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div id="toolbar">
                <button id="add-user" class="btn btn-primary" onclick="showAddModal()">
                     添加
                </button>
                <button id="refresh-pass" class="btn btn-primary" onclick="refreshPassword()">
                    重置密码
                </button>
            </div>
            <table id="table"
                   data-checkbox-header="true"
                   data-click-to-select="true"
                   data-toolbar="#toolbar"></table>
        </main>
    </div>
</div>
<style>
    em {
        display: none;
        width: 100%;
        margin-top: .25rem;
        font-size: 80%;
        color: #dc3545;
    }
</style>

<!--添加模态框-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">编辑页面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add">
                    <div class="form-group ">
                        <label for="name"><i class="far fa-user"></i> 用户名</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="姓名" >
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope-square"></i> email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email" >
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fas fa-envelope-square"></i> password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password" >
                    </div>
                    <div class="form-group">
                        <label for="age"><i class="fas fa-envelope-square"></i> age</label>
                        <input type="text" class="form-control" id="age" name="age" placeholder="nianlin" >
                    </div>
                    <div class="form-group">
                        <label th:for="sex"><i class="fas fa-genderless"></i> sex</label>
                        <select class="form-control" th:id="sex" name="sex"  >
                            <option th:each="sex:${sex}"  th:text="${sex.name}" th:value="${sex.id}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:for="status"><i class="fas fa-parking"></i> 状态</label>
                        <select class="form-control" th:id="status" th:name="status" >
                            <option th:each="status:${status}" th:text="${status.name}" th:value="${status.id}"></option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <label th:for="auth"><i class="fas fa-shield-alt"></i> 权限</label>
                        <select class="form-control " id="auth" th:name="auths" multiple="multiple">
                            <option th:each="item:${auth}" th:text="${item.name}" th:value="${item.id}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" th:onclick="addUser">保存</button>
            </div>
        </div>
    </div>
</div>

<!--修改模态框-->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyModalLabel">编辑页面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form id="modify">
                    <div class="form-group ">
                        <label for="name"><i class="far fa-user"></i> 用户名</label>
                        <input type="text" class="form-control" id="modify-name" name="name"   placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <label th:for="status"><i class="fas fa-parking"></i> 状态</label>
                        <select class="form-control " th:id="modify-status" th:name="status" >
                            <option th:each="item:${status}" th:text="${item.name}" ></option>
                        </select>
                    </div>
                    <div class="form-group" >
                        <label th:for="auth"><i class="fas fa-shield-alt"></i> 权限</label>
                        <select class="form-control " id="modify-auth" th:name="auths" multiple="multiple">
                            <option th:each="item:${auth}" th:text="${item.name}" ></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" th:onclick="modifyUser()">保存</button>
            </div>
        </div>
    </div>
</div>

<!--查看模态框-->
<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkModalLabel">查看页面</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            姓名 ：
                        </div>
                        <div class="col-sm">
                            <span id="check-name"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Email ：
                        </div>
                        <div class="col-sm">
                            <span id="check-email"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            性别 ：
                        </div>
                        <div class="col-sm">
                            <span id="check-sex"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            状态 ：
                        </div>
                        <div class="col-sm">
                            <span id="check-status"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            权限 ：
                        </div>
                        <div class="col-sm">
                            <span id="check-auth"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>