<?xml version="1.0" encoding="UTF-8" ?>

        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
<mappers>
    <mapper resource="com/nanyin/mapper/UserMapper.xml"/>
    <mapper resource="com/nanyin/mapper/UserVoMapper.xml"/>
    <mapper resource="com/nanyin/mapper/OrganizationMapper.xml"/>
    <mapper resource="com/nanyin/mapper/RoleMapper.xml"/>
    <mapper resource="com/nanyin/mapper/OrganizationVoMapper.xml"/>
</mappers>


</configuration>